{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 10 Chrome versions"
          ]
        }
      }
    ],
    [
      "@babel/preset-react",
      {
        "targets": {
          "browsers": [
            "last 10 Chrome versions"
          ]
        }
      }
    ]
  ]
}